<style>

body {
	background-image: url(DSC_2897.JPG);
	font-family: "Verdana", sans-serif;
}


h1 { 
   text-align: left;
   
}

h2 { 
    text-align: left;

}

h3  {

     text-align: left;
	 font-family: "Verdana", sans-serif;
}

#nav ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	text-align: Center;
    font-size: 150%;
	column-count:1;
	
	

}

#nav ul li {
	display: inline;
	
}

#nav ul li a{
	text-decoration: none;
	margin-left: 2px;
	margin-right: 3px;
}
	
#nav ul li a:hover{
  color: Indigo;
}


	
Header {
	color: #fff;
	
} 




.container{
	Display:grid;
	grid-template-columns:1fr 1fr 1fr 1fr;
	grid-template-rows:100px 50px auto 50px;
	grid-template-areas:
	"header header header header"
	"nav nav nav nav"
	"main1 main2 main3 aside"
	"footer footer footer footer"
}



main{
	grid-area:main;
	
	

} 

header{
	grid-area:header;'

	
	
}



footer{
	grid-area:footer;

}
